src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:request-config name="KLM_Connector" host="fox.klm.com" port="80" basePath="/fox/json" doc:name="HTTP Request Configuration"/>
    <flow name="getFlights" tracking:enable-default-events="true">
        <set-variable variableName="originAirportCode" value="AMS" doc:name="originAirportCode"/>
        <http:request config-ref="KLM_Connector" path="/flightstatuses" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="originAirportCode" value="#[flowVars.originAirportCode]"/>
                <http:query-param paramName="destinationAirportCode" value="#[message.inboundProperties.'http.uri.params'.destination]"/>
            </http:request-builder>
        </http:request>
        <tracking:custom-event event-name="CorrectAirport" doc:name="Custom Business Event"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
